<div class="timer-container">
    <div class="timer-display" contenteditable="true" (input)="updateTime($event)" (keydown)="handleKeydown($event)">
        {{ displayTime }}
    </div>

    <div class="button-container">
        <button (click)="incrementTime(30)">+30s</button>
        <button (click)="decrementTime(30)">-30s</button>
        <!--ToDo: Move to playback controls component w/ stop button-->
        <!-- <button class="start-button" (click)="startTimer()">Start</button> --> 
            <!-- <button class="stop-button" (click)="stopTimer()">Stop</button> -->
            <button class="reset-button" (click)="resetTimer()">Clear</button>
</div>    </div>

