<div class="content-container">
    <h1>Spotify Timer</h1>
    <hr>
    <app-login></app-login>
    <app-timer></app-timer>
    <div class="dropdown-container">
        <label for="playlists">Choose a playlist:</label>
        <select class="playlist-select" name="playlists" id="playlists" (change)="onPlaylistSelect($event)">
            <option *ngFor="let playlist of playlists" [value]="playlist.id">{{ playlist.name }}</option>
        </select>        
    </div>
    <div class="glass-container" *ngIf="currentTrack">
        <div class="track-container"> 
            <h1>{{ currentTrack.name }}</h1>
            <h2>{{ currentTrackAlbum }}</h2>
            <h3>{{ currentTrackArtists }}</h3>
        </div>    
    </div>
</div>
